<h1>welcome to<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers  !!</h1>

<p>in <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</p><br>
<p>you can share and exchange your opinions , inpression , and emotions</p><br>
<p>about various books!</p>

<%= link_to "Log in" ,new_user_session_path, class:  %>
<%= link_to "Sin up" ,new_user_registration, class: %>